<div class="container">
    <div>
        <a *ngIf="!authenticated" class="navbar-item" href="{{signInUrl}}">
            SignIn
        </a>
    </div>
    <button *ngIf="authenticated" class="navbar-item" (click)="signOut()">
        SignOut
    </button>
    <button class="navbar-item" (click)="callNoAuth()">
        Call noAuth
    </button>
    <button class="navbar-item" (click)="callAuth()">
        Call auth
    </button>
    <div>
        <a href="https://github.com/bingqiao/angular-universal-amplify">GitHub</a>
    </div>
</div>